:root {
    --dark-mode-bg: hsl(207, 26%, 17%);
    --dark-mode-elements-color: hsl(209, 23%, 22%);
    --dark-mode-text-color: hsl(0, 0%, 100%);

    --light-mode-bg: hsl(0, 0%, 98%);
    --light-mode-elements-color: hsl(0, 0%, 100%);
    --light-mode-text-color: hsl(200, 15%, 8%);
    --light-mode-input-color: hsl(0, 0%, 52%);
}
