@use '../util' as *;

.header {
    background-color: var(--light-mode-elements-color);
    box-shadow: 0 1px 4px rgb(133, 133, 133, 0.3);
}

.nav-menu {
    @include flex(space-between);
    padding: rem(20) 0;

    &__title {
        font-size: rem(16);
        color: var(--light-mode-text-color);
    }

    &__theme {
        font-family: inherit;
        font-size: rem(16);
        font-weight: 600;
        color: var(--light-mode-text-color);

        @include flex(initial);
        align-items: center;
        gap: rem(5);
        background: transparent;
        border: none;
        cursor: pointer;

        & span {
            font-size: rem(14);
        }
    }
}
